.table__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.table__modal-wrapper {
    padding: 20px;
    border-radius: 11px;
    background-color: #fff;
}

.table__modal-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table__modal-form {
    display: flex;
    gap: 10px;
}

.table__modal-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding: 15px 0px;
}

.table__modal-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table__modal-label {
    border: 1px solid #000;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    cursor: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.table__modal-input {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    line-height: 1.5;
    min-height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.table__modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.table__modal-btn {
    width: 150px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #6506EF;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.2s linear;
}

.table__modal-btn_safe:hover {
    color: #0A04A9;
    background-color: #fff;
    transition: 0.3s;
    border: 1px solid #ccc;
}

.table__modal-btn_cancel:hover {
    background-color: #D9262A;
    transition: 0.1s linear;
    color: #fff;
}